body {
	font-family: Arial;
	margin: 30px;
}
.main {
	height: 125px;
	width: 700px;
	border: solid;
	border-width: 1px;
	margin-bottom: 20px;
}
.profile {
	float: left;
	margin: 10px;
}
.special {
	float: left;
	/*margin-left: 10px;*/
}
.rawr {
	margin-top: 7px;
	margin-bottom: 55px;
}
.like {
	margin-top: -5px;
	margin-right: 5px;
	vertical-align: middle;
}
span {
	font-size: 1.5em;
	vertical-align: middle;	
}
.like2 {
	margin-top: -5px;
	margin-left: 25px;
	vertical-align: middle;
}
